In [1]:
import requests
import pandas as pd
import numpy as np
from io import StringIO

import json
from tqdm import tqdm_notebook as tqdm

In [2]:
url_search = 'https://rating.chgk.info/api/tournaments.json/search?name={}'
url_tournament = 'https://rating.chgk.info/api/tournaments/{}/list'
url_recaps = 'https://rating.chgk.info/api/tournaments/{idtournament}/recaps/{idteam}'
url_player = 'https://rating.chgk.info/api/players/{}'

Change the search query here

In [3]:
#search = 'чемпионат эстонии'
search = 'кубок европы'

In [4]:
response = requests.get(url_search.format(search)).text
response = json.load(StringIO(response))
tournaments = pd.DataFrame(response['items'])

In [5]:
def get_player_stat_tournament(idtournament):
    tournament_results = json.load(StringIO(requests.get(url_tournament.format(idtournament)).text))
    player_results = []
    
    for team_result in tournament_results:
        position = float(team_result['position'])
        team_recaps = json.load(StringIO(requests.get(url_recaps.format(idtournament=idtournament, idteam=team_result['idteam'])).text))
        # Collect player stats
        for player in team_recaps:
            player_result = {'idplayer': player['idplayer'],
                             'idteam': team_result['idteam'],
                             'team_name': team_result['base_name'],
                             'position': position,
                             'questions': team_result['questions_total']}
            player_results.append(player_result)

    return pd.DataFrame(player_results)

In [6]:
tournaments.date_end[0].split('-')[0]

'2005'

In [7]:
player_results = []
for i, r in tqdm(tournaments.iterrows(), total=len(tournaments)):
    res = get_player_stat_tournament(r.idtournament)
    res['year'] = r.date_end.split('-')[0]
    player_results.append(res)

HBox(children=(IntProgress(value=0, max=15), HTML(value='')))

In [9]:
all_players = pd.concat(player_results)
all_players.head()

  idplayer idteam  position questions team_name  year
0     8077     10       6.5         0    Яровит  2005
1    21026     10       6.5         0    Яровит  2005
2    23442     10       6.5         0    Яровит  2005
3    25516     10       6.5         0    Яровит  2005
4    28419     10       6.5         0    Яровит  2005

Ever played this tournament

In [10]:
len(all_players.idplayer.unique())

1377

Played max times

In [21]:
def get_name(idplayer):
    response = json.load(StringIO(requests.get(url_player.format(idplayer)).text))[0]
    return ' '.join([response['surname'], response['name'], response['patronymic']])

def get_names(players):
    return [get_name(i) for i in tqdm(players)]

In [12]:
tournament_counts = all_players.groupby('idplayer').count().iloc[:,0].sort_values(ascending=False)
max_times_players = tournament_counts[tournament_counts == tournament_counts.max()]
max_times_players

idplayer
32004    8
Name: idteam, dtype: int64

In [13]:
get_names(max_times_players.index.tolist())

['Топчий Иван Александрович']

In [ ]:
n_times_players_names = get_names(tournament_counts.index.tolist()[:30])
n_times_players = pd.DataFrame(tournament_counts)
n_times_players.loc[:30, 'name'] = n_times_players_names

In [25]:
n_times_players.head(30)

          idteam                               name
idplayer
32004          8          Топчий Иван Александрович
34909          7           Чернуха Ирина Викторовна
25794          7      Порицкий Владислав Валерьевич
78734          7            Зайков Иван Анатольевич
34936          7      Чернышёв Кирилл Александрович
21560          7     Морозов Александр Владимирович
71365          6               Тух Вадим Евгеньевич
77785          6   Адаскевич Станислав Владимирович
18194          6      Кленницкая Мария Владимировна
77852          6          Клюева Ольга Владимировна
72160          6     Карчевский Александр Сергеевич
67127          6              Иоков Антон Сергеевич
24006          6       Панайотти Дмитрий Алексеевич
932            6        Алхазов Григорий Эдуардович
31630          6     Тимофеева Анастасия Витальевна
63668          6           Серобян Эдгар Робертович
54136          5        Имангулов Амаль Бахтиёрович
59140          5          Белозёров Борис Сергеевич
21698          5     Мосягин Александр Владимирович
60043          5          Забавин Андрей Николаевич
30357          5       Старикович Дмитрий Сергеевич
70750          5        Галиакберов Денис Андреевич
60923          5  Григорьев Александр Александрович
10554          5         Ерофеев Алексей Леонидович
16329          5             Шагал Ксения Андреевна
68656          5          Баранов Андрей Николаевич
2958           5          Белов Вячеслав Евгеньевич
60989          5  Плешакова Екатерина Александровна
36035          5      Шередега Алексей Владимирович
28751          5            Семушин Иван Николаевич

Count medals

In [14]:
medalists = all_players.loc[all_players.position < 4,['idplayer', 'position']].reset_index(drop=True)
medalists.position = np.array(medalists.position, dtype=np.uint8)
len(medalists)

310

In [15]:
medalists.head()

  idplayer  position
0     2454         1
1     3159         1
2     4270         1
3     5130         1
4    21633         1

In [16]:
medalists_aggregated = pd.get_dummies(medalists, columns=['position']).groupby('idplayer').sum().sort_values(['position_{}'.format(i) for i in range(1,4)], ascending=False)
medalists_aggregated['name'] = get_names(medalists_aggregated.index.tolist())
medalists_aggregated

,position_1,position_2,position_3,name
idplayer,,,,
74382,3,1,0,Новосёлов Михаил Андреевич
24006,3,0,0,Панайотти Дмитрий Алексеевич
24850,2,2,0,Печеный Александр Павлович
19541,2,1,1,Малкин Михаил Леонидович
36592,2,1,0,Штых Алексей Константинович
18194,2,0,1,Кленницкая Мария Владимировна
71365,2,0,1,Тух Вадим Евгеньевич
2958,2,0,0,Белов Вячеслав Евгеньевич
33271,2,0,0,Филиппов Юрий Станиславович
71907,2,0,0,Короткова Елизавета Алексеевна
72479,2,0,0,Карташов Кирилл Михайлович
76278,2,0,0,Чадромцев Богдан Денисович
77673,2,0,0,Папков Михаил Константинович
70750,1,3,0,Галиакберов Денис Андреевич
72160,1,3,0,Карчевский Александр Сергеевич
932,1,2,2,Алхазов Григорий Эдуардович
113703,1,2,0,Николаев Глеб Владиславович
19915,1,2,0,Марков Александр Валерьевич
40877,1,2,0,Сибаев Ринат Ильдарович
54136,1,2,0,Имангулов Амаль Бахтиёрович
54910,1,1,1,Пинчук Антон Алексеевич
59140,1,1,1,Белозёров Борис Сергеевич
22799,1,1,0,Николенко Сергей Игоревич
24153,1,1,0,Папаянов Григорий Сергеевич
25177,1,1,0,Поверинов Никита Олегович
31630,1,1,0,Тимофеева Анастасия Витальевна
33792,1,1,0,Харитонов Владислав Александрович
40390,1,1,0,Гордынец Елена Александровна
40393,1,1,0,Разумов Юрий Владимирович
67127,1,1,0,Иоков Антон Сергеевич
...,...,...,...,...
391,0,0,1,Агейский Дмитрий Эдуардович
41187,0,0,1,Крылова Лидия Александровна
41200,0,0,1,Рыженков Андрей Сергеевич
41203,0,0,1,Дзекановский Виктор Халедович
44437,0,0,1,Царьков Илья Николаевич
44738,0,0,1,Красевич Иван Сергеевич
44977,0,0,1,Питателев Михаил Васильевич
45678,0,0,1,Дьяконов Максим Олегович
46679,0,0,1,Мужикбаев Леонид Андреевич
4742,0,0,1,Быкова Ольга Викторовна
47521,0,0,1,Декалов Владислав Владимирович
53651,0,0,1,Павловец Дмитрий Викторович
55431,0,0,1,Назаров Пётр Юрьевич
5746,0,0,1,Влахов Андриан Викторович
63339,0,0,1,Бандура Оксана Юрьевна
63668,0,0,1,Серобян Эдгар Робертович
65503,0,0,1,Сапрыко Артём Сергеевич
66210,0,0,1,Гаглоев Илья Давидович
68678,0,0,1,Потёмкин Андрей Андреевич
71061,0,0,1,Свирина Анна Александровна
77785,0,0,1,Адаскевич Станислав Владимирович
78747,0,0,1,Борода Илья Владимирович
79222,0,0,1,Акулов Дмитрий Сергеевич
82128,0,0,1,Ламеко Арсений Дмитриевич
8840,0,0,1,Данильченко Евгений Сергеевич
90663,0,0,1,Воробьёв Никита Игоревич
93430,0,0,1,Бурак Ирина Викторовна
97091,0,0,1,Абдрашитова Ирина Владимировна
9837,0,0,1,Дубичева Александра Александровна
98371,0,0,1,Мишин Денис Андреевич

In [18]:
medalists_aggregated['position_s'] = medalists_aggregated.loc[:,'position_1':'position_3'].sum(axis=1)
medalists_aggregated.sort_values(['position_s']+['position_{}'.format(i) for i in range(1,4)], ascending=False)

,position_1,position_2,position_3,name,position_s
idplayer,,,,,
932,1,2,2,Алхазов Григорий Эдуардович,5
74382,3,1,0,Новосёлов Михаил Андреевич,4
24850,2,2,0,Печеный Александр Павлович,4
19541,2,1,1,Малкин Михаил Леонидович,4
70750,1,3,0,Галиакберов Денис Андреевич,4
72160,1,3,0,Карчевский Александр Сергеевич,4
34909,0,3,1,Чернуха Ирина Викторовна,4
20998,0,2,2,Миронов Денис Эдуардович,4
24006,3,0,0,Панайотти Дмитрий Алексеевич,3
36592,2,1,0,Штых Алексей Константинович,3
18194,2,0,1,Кленницкая Мария Владимировна,3
71365,2,0,1,Тух Вадим Евгеньевич,3
113703,1,2,0,Николаев Глеб Владиславович,3
19915,1,2,0,Марков Александр Валерьевич,3
40877,1,2,0,Сибаев Ринат Ильдарович,3
54136,1,2,0,Имангулов Амаль Бахтиёрович,3
54910,1,1,1,Пинчук Антон Алексеевич,3
59140,1,1,1,Белозёров Борис Сергеевич,3
102968,1,0,2,Прокопенко Тимофей Александрович,3
25794,1,0,2,Порицкий Владислав Валерьевич,3
32004,1,0,2,Топчий Иван Александрович,3
36035,0,3,0,Шередега Алексей Владимирович,3
72501,0,3,0,Федкевич Даниил Кириллович,3
7666,0,2,1,Горбунов Сергей Валерьевич,3
18490,0,1,2,Литвинов Дмитрий Сергеевич,3
21560,0,1,2,Морозов Александр Владимирович,3
36398,0,1,2,Шляхов Евгений Алексеевич,3
41383,0,1,2,Комиссаров Климентий Сергеевич,3
7420,0,1,2,Голуб Эдуард Викторович,3
77852,0,1,2,Клюева Ольга Владимировна,3
...,...,...,...,...,...
391,0,0,1,Агейский Дмитрий Эдуардович,1
41187,0,0,1,Крылова Лидия Александровна,1
41200,0,0,1,Рыженков Андрей Сергеевич,1
41203,0,0,1,Дзекановский Виктор Халедович,1
44437,0,0,1,Царьков Илья Николаевич,1
44738,0,0,1,Красевич Иван Сергеевич,1
44977,0,0,1,Питателев Михаил Васильевич,1
45678,0,0,1,Дьяконов Максим Олегович,1
46679,0,0,1,Мужикбаев Леонид Андреевич,1
4742,0,0,1,Быкова Ольга Викторовна,1
47521,0,0,1,Декалов Владислав Владимирович,1
53651,0,0,1,Павловец Дмитрий Викторович,1
55431,0,0,1,Назаров Пётр Юрьевич,1
5746,0,0,1,Влахов Андриан Викторович,1
63339,0,0,1,Бандура Оксана Юрьевна,1
63668,0,0,1,Серобян Эдгар Робертович,1
65503,0,0,1,Сапрыко Артём Сергеевич,1
66210,0,0,1,Гаглоев Илья Давидович,1
68678,0,0,1,Потёмкин Андрей Андреевич,1
71061,0,0,1,Свирина Анна Александровна,1
77785,0,0,1,Адаскевич Станислав Владимирович,1
78747,0,0,1,Борода Илья Владимирович,1
79222,0,0,1,Акулов Дмитрий Сергеевич,1
82128,0,0,1,Ламеко Арсений Дмитриевич,1
8840,0,0,1,Данильченко Евгений Сергеевич,1
90663,0,0,1,Воробьёв Никита Игоревич,1
93430,0,0,1,Бурак Ирина Викторовна,1
97091,0,0,1,Абдрашитова Ирина Владимировна,1
9837,0,0,1,Дубичева Александра Александровна,1
98371,0,0,1,Мишин Денис Андреевич,1

In [26]:
medalists_aggregated.to_csv('./medalists_kest.csv')